h1>Welcome to our App!</h1>
<p>You requested a magic login link. Click below to sign in:</p>
<p><a href="<%= @login_url %>">Sign in to your account</a></p>
<p>This link will expire in 15 minutes.</p>
<p>If you didn't request this, please ignore this email.</p>
<p>Thanks,</p>
