<p>Welcome <%= @resource.email %>!</p>
<p>You can confirm your account email through the link below:</p>
<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
<p>After confirming, you can sign in anytime using this link:</p>
<p><%= link_to 'Sign in', @sign_in_url %></p>
<p>If you did not sign up for an account, please ignore this email.</p>
<p>Thank you for joining us!</p>
